@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "sport";
    default: true;
    prefersdark: false;
    color-scheme: "light";

    --color-base-100: #f3f3f5;
    --color-base-200: #e7e7ec;
    --color-base-300: #d9d9e2;
    --color-base-content: #13143a;
    --color-primary: #d00815;
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: #282c6b;
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: #595683;
    --color-accent-content: oklch(98% 0.018 155.826);
    --color-neutral: #13143a;
    --color-neutral-content: oklch(1.000 0.009 106.6);
    --color-info: #4c7fd6;
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: #2f9e44;
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: #f59e0b;
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: #e11d48;
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;

    --root-bg: var(--color-base-200);
}

/* DARK */
@plugin "daisyui/theme" {
    name: "sportr-dark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";

    --color-base-100: oklch(0.298 0.195 252.4);
    --color-base-200: oklch(0.151 0.072 277.4);
    --color-base-300: oklch(0.270 0.146 254.1);
    --color-base-content: oklch(0.934 0.029 256.8);
    --color-primary: oklch(0.487 0.246 27.5);
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: oklch(0.487 0.246 27.5);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(0.487 0.246 27.5);
    --color-accent-content: #ffffff;
    --color-neutral: oklch(0.405 0.218 27.5);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: #6ba3ff;
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: #4cc38a;
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: #f6c350;
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: #ff6b81;
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;

    --root-bg: var(--color-base-200);
}
